<h1>{{ title }}</h1>

<div *ngIf="venta">
  <div *ngFor="let item of venta">
    <h2>Datos del detalle de la venta:</h2>
    <p>Cantidad: {{ item.cantidad }}</p>
    <p>fk_id_producto: {{ item.fk_id_producto }}</p>
    <p>fk_id_venta: {{ item.fk_id_venta }}</p>
    <p>id_detalle_venta: {{ item.id_detalle_venta }}</p>

    <div *ngIf="item.producto">
      <div *ngFor="let prod of item.producto">
        <h2>Nombre producto: {{prod.nombre_producto}}</h2>
      </div>
    </div>

    <div *ngIf="item.venta">
      <div *ngFor="let vent of item.venta">
        <p>Fecha de la venta: {{vent.fecha}}</p>
      </div>
    </div>

    <!-- Mostrar otros campos de la venta -->
  </div>
</div>
